
<%= image_tag 'ton.png' %>
<div id="user">
    <%= image_tag 'i.png'  %>
</div>
<table>
  <tr>
    <td>ツイート</td>
    <td>フォロー</td>
    <td>フォロワー</td>
    <td>いいね</td>
  </tr>
  <tr>
    <td>1,204</td>
    <td>600</td>
    <td>356</td>
    <td>4542</td>
  </tr>

</table>