<h2>
    Ryusei
</h2>
<li>@ryuuseiTW</li>
<li>　</li>
<li>ソフトウェア開発という授業のために制作したツイッターもどきのサイトです。一人分のツイートしかできません。</li>
<li>　</li>
<li>2020/10月に登録</li>


 <%= link_to new_tweet_path do %> <%= image_tag 'tw.png' %> <% end %>